<html>
    <head>
        <title> Report Generation </title>
    </head>
    <body>
        <h2> Report Generation </h2>
        <table border='1'>
            <tr>
                <th> Name </th>
                <th> Age </th>
                <th> Email </th>
            </tr>
            {% for item in data %}
            <tr>
                <td> {{ item.name }} </td>
                <td> {{ item.age }} </td>
                <td> {{ item.email }} </td>
            </tr>
            {% endfor %}
        </table>
        <p> <a href="{% url 'generate_csv' %}"> Generate CSV </a></p>
        <p> <a href="{% url 'generate_pdf' %}"> Generate PDF </a></p>
        <p> <a href="{% url 'send_email' %}"> Send Email </a></p>
    </body>
    </html>